---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.nl/api/v2/shipping_methods/99
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - '404'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api\/v2\/shipping_methods\/99","message":"Can''t
        find shipping method with given ID (99)"}}'
  recorded_at: Mon, 08 Dec 2014 10:01:59 GMT
recorded_with: VCR 2.9.3
