---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.nl/api/v2/parcels/123456
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - '404'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api\/v2\/parcels\/123456","message":"You
        aren''t authorized to get this parcel"}}'
  recorded_at: Tue, 27 Jan 2015 14:56:45 GMT
recorded_with: VCR 2.9.3
