---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.nl/api/v2/labels/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - '404'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"request":"api\/v2\/labels\/123456","message":"Cannot
        find parcel with given Parcel ID (123456)"}}'
  recorded_at: Tue, 27 Jan 2015 15:20:09 GMT
recorded_with: VCR 2.9.3
