---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.nl/api/v2/shipping_methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"shipping_methods":[{"id":1,"name":"Pakket Nederland (PostNL)","countries":[{"id":2,"iso_3":"NLD","iso_2":"NL","name":"Nederland","price":5.8}],"price":5.8,"options":[],"combinations":[{"id":1,"name":"Normaal
        pakket"}]},{"id":2,"name":"Pakket met handtekening (PostNL)","countries":[{"id":2,"iso_3":"NLD","iso_2":"NL","name":"Nederland","price":6.2}],"price":6.2,"options":[],"combinations":[{"id":3,"name":"Pakket
        met handtekening"}]},{"id":3,"name":"Pakket naar buitenland","countries":[{"id":1,"iso_3":"BEL","iso_2":"BE","name":"Belgie","price":9},{"id":3,"iso_3":"DEU","iso_2":"DE","name":"Duitsland","price":9},{"id":4,"iso_3":"BGR","iso_2":"BG","name":"Bulgarije[...]
