---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.nl/api/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"name":"Rob van den Heuvel","address":"Torenallee","city":"Eindhoven","postal_code":"5617BC","country":"NL","shipment":{"id":1},"requestShipment":false,"telephone":"","email":"","data":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"parcel":{"id":388819,"name":"Rob van den Heuvel","company_name":null,"address":"Torenallee  ","address_divided":{"street":"Torenallee","house_number":null},"city":"Eindhoven","postal_code":"5617BC","telephone":"","email":"","date_created":"27-01-2015
        16:20:18","reference":"","data":[],"country":{"iso_3":"NLD","iso_2":"NL","name":"Nederland"},"shipment":{"id":1,"name":"Pakket
        Nederland (PostNL)","options":[]}}}'
  recorded_at: Tue, 27 Jan 2015 15:20:18 GMT
- request:
    method: put
    uri: https://panel.sendcloud.nl/api/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"id":388819,"requestShipment":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"parcel":{"id":388819,"name":"Rob van den Heuvel","company_name":null,"address":"Torenallee  ","address_divided":{"street":"Torenallee","house_number":null},"city":"Eindhoven","postal_code":"5617BC","telephone":"","email":"","date_created":"27-01-2015
        16:20:18","reference":"","tracking_number":"3SYZXG160644522","label":{"normal_printer":["https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=0&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=1&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=2&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=3&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93"],"label_printer":"https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/label_printer\/388819?hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93"},"status":{"id":0,"message":"Gereed
        voor verzending","history":null},"data":[],"country":{"iso_3":"NLD","iso_2":"NL","name":"Nederland"},"shipment":{"id":1,"name":"Pakket
        Nederland (PostNL)","options":[]}}}'
  recorded_at: Tue, 27 Jan 2015 15:20:19 GMT
- request:
    method: get
    uri: https://panel.sendcloud.nl/api/v2/labels/388819
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"label":{"normal_printer":["https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=0&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=1&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=2&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93","https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/normal_printer\/388819?start_from=3&hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93"],"label_printer":"https:\/\/panel.sendcloud.nl\/api\/v2\/labels\/label_printer\/388819?hash=1607b3abc9ccdc09ab0e963bea21d32fb51d2f93"}}'
  recorded_at: Tue, 27 Jan 2015 15:20:19 GMT
recorded_with: VCR 2.9.3
